@font-face
  font-family 'opensans'
  src url('../assets/fonts/opensans-regular-webfont.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'opensans'
  src url('../assets/fonts/opensans-bold-webfont.woff') format('woff')
  font-weight bold
  font-style normal

@font-face
  font-family 'opensans'
  src url('../assets/fonts/opensans-extrabold-webfont.woff') format('woff')
  font-weight 800
  font-style normal

@font-face
  font-family 'opensans_cond'
  src url('../assets/fonts/opensans-condbold-webfont.woff') format('woff')
  font-weight 800
  font-style normal
